In [1]:
import numpy as np
import pandas as pd

yields = pd.DataFrame({"2 Year":[4.69, 4.81, 4.81, 4.79, 4.79, 4.83, 4.81, 4.81, 4.83, 4.81, 4.82, 4.82, 4.80, 4.78, 4.79],
                      "3 Year":[4.58, 4.71, 4.72, 4.78, 4.77, 4.75, 4.71, 4.72, 4.76, 4.73, 4.75, 4.75, 4.73, 4.71, 4.71],
                      "5 Year":[4.57, 4.69, 4.70, 4.77, 4.77, 4.73, 4.72, 4.74, 4.77, 4.75, 4.77, 4.76, 4.75, 4.72, 4.71],
                      "10 Year":[4.63, 4.73, 4.74, 4.81, 4.80, 4.79, 4.76, 4.77, 4.80, 4.77, 4.80, 4.80, 4.78, 4.73, 4.73]})

yields

    2 Year  3 Year  5 Year  10 Year
0     4.69    4.58    4.57     4.63
1     4.81    4.71    4.69     4.73
2     4.81    4.72    4.70     4.74
3     4.79    4.78    4.77     4.81
4     4.79    4.77    4.77     4.80
5     4.83    4.75    4.73     4.79
6     4.81    4.71    4.72     4.76
7     4.81    4.72    4.74     4.77
8     4.83    4.76    4.77     4.80
9     4.81    4.73    4.75     4.77
10    4.82    4.75    4.77     4.80
11    4.82    4.75    4.76     4.80
12    4.80    4.73    4.75     4.78
13    4.78    4.71    4.72     4.73
14    4.79    4.71    4.71     4.73

In [2]:
from scipy.linalg import cholesky
def linear_solve_cholesky(A, b):
    U = cholesky(A)
    y = np.linalg.solve(np.transpose(U), b)
    x = np.linalg.solve(U, y)
    return x 

#solve the least squares problem
y_vector = np.matrix(yields['3 Year'].values).T
ones = np.ones((15, 1))
T2 = np.matrix(yields["2 Year"].values).T
T5 = np.matrix(yields["5 Year"].values).T
T10 = np.matrix(yields["10 Year"].values).T
A_matrix = np.concatenate((ones, T2, T5, T10), axis = 1)
A_matrix

matrix([[1.  , 4.69, 4.57, 4.63],
        [1.  , 4.81, 4.69, 4.73],
        [1.  , 4.81, 4.7 , 4.74],
        [1.  , 4.79, 4.77, 4.81],
        [1.  , 4.79, 4.77, 4.8 ],
        [1.  , 4.83, 4.73, 4.79],
        [1.  , 4.81, 4.72, 4.76],
        [1.  , 4.81, 4.74, 4.77],
        [1.  , 4.83, 4.77, 4.8 ],
        [1.  , 4.81, 4.75, 4.77],
        [1.  , 4.82, 4.77, 4.8 ],
        [1.  , 4.82, 4.76, 4.8 ],
        [1.  , 4.8 , 4.75, 4.78],
        [1.  , 4.78, 4.72, 4.73],
        [1.  , 4.79, 4.71, 4.73]])

In [4]:
#solution using Cholesky solver
x = linear_solve_cholesky(np.dot(np.transpose(A_matrix), A_matrix), np.dot(np.transpose(A_matrix), y_vector))
x

matrix([[0.01230208],
        [0.12720817],
        [0.3340453 ],
        [0.52977688]])